@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.Title</h1>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var manufacturer in Model.Manufacturers)
    {
        <tr>
            <td>
                @*<p>@Html.ActionLink(manufacturer.Name, "Manufacturer", "Home", new { id = manufacturer.Id}, null)</p>*@
            </td>
        </tr>
    }
    </tbody>
</table>